<div class="project-cards rounded-lg overflow-hidden bg-gray-100">
  <a class="block relative h-48 overflow-hidden">
    <img
      alt="project"
      class="object-cover object-center w-full h-full block"
      src="https://dummyimage.com/420x260"
    />
  </a>
  <div class="mt-4 p-5">
    <h3 class="text-black text-xs tracking-widest title-font mb-1">
      CATEGORY
    </h3>
    <h2
      class="text-gray-900 text-teal-500 font-bold title-font text-lg font-medium py-5"
    >
      Angular Boards
    </h2>
  </div>
</div>
