<section class="text-gray-700 body-font">
  <div
    class="container mx-auto flex px-5 lg:px-20 lg:-mt-10 mt-10 h-screen md:flex-row flex-col items-center"
  >
    <div
      class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center"
    >
      <h2 class="text-sm title-font text-gray-800 tracking-widest">
        Motivated,Ready to Code
      </h2>

      <h1 class="title-font md:text-5xl text-3xl mb-4 font-bold text-gray-900">
        Create Algorithms
        <br />
        <span class="font-light">Code Solutions</span>
      </h1>
      <p class="mb-8 leading-relaxed">
        “Truth can only be found in one place: the code.”
        <br />― Robert C. Martin,Clean Code
      </p>
      <div class="flex justify-center">
        <button
          class="inline-flex hover:text-indigo-500 border-indigo-500 hover:bg-gray-200 bg-indigo-600 text-white rounded border-2 py-2 px-6 focus:outline-none text-lg"
        >
          See My Work
        </button>
        <button
          class="ml-4 inline-flex text-gray-700 bg-gray-200 border-0 py-2 px-6 focus:outline-none hover:bg-gray-300 rounded text-lg"
        >
          Say Hi
        </button>
      </div>
    </div>
    <div
      class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6"
      appParallax
      [ratio]="-0.2"
    >
      <img
        class="object-cover object-center rounded"
        alt="hero"
        src="../../assets/img/banner/undraw_dev_productivity_umsq.png"
      />
    </div>
  </div>
</section>
