.wrapper {
  position: relative;
  // padding-top: 50px;
}
.custom-shape-divider-top-1594304708 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1594304708 svg {
  position: relative;
  display: block;
  width: calc(110% + 1.3px);
  height: 94px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1594304708 .shape-fill {
  fill: #f7fafc;
}
